<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Content Served by NestJS Server</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
    <script src="http://localhost:3001/socket.io/socket.io.js"></script>
</head>

<body>
    <div id="v-app" style="height: 100%;">
        <header>
            <h1>{{title}}</h1>
        </header>
    
        <section id="chatroom">
            <section id="feedback">
                <p class="message" v-for="msg of messages">{{msg}}</p>
            </section>
        </section>
    
        <form id="input_zone">
            <input id="message" class="vertical-align" type="text" v-model="text" />
            <button @click.prevent="sendMessage()" id="send_message" class="vertical-align" type="submit">Send</button>
        </form>
    </div>
    <script src="app.js"></script>
</body>

</html>